
.wrapper {
 display: flex; 
  gap: 10px;
 align-items: center; 
 justify-content: space-between;
 flex-wrap: nowrap;
  margin-bottom: 40px;
}

.input {
  flex: 1;
  min-width: 0;
  padding: 10px;
  border-radius: 10px;
}
