

.container {
    background-color: aliceblue;
    padding: 16px;
    border: 1px lightblue solid;
    border-radius: 20px;
      width: 90%;
  max-width: 500px;
  margin: 0 auto;
  
}


@media (min-width: 768px) {
  .container {
    padding: 60px;
  }
}
button {
    color: lightblue;
    background-color: white;
    border: 2px lightblue solid;
    white-space: nowrap;
}
p {
    font-size: 40px;
    color: lightblue;
    text-align: center;
}